body {
	font-family: 'Libre Franklin';
	padding: 0;
	margin: 0;
	background: #191919;
}

.container {
    display: grid;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 33% 34% 33%;
    height: 100vh;
	max-width: 1800px;
	margin: auto;
}

header {
	display: block;
	clear: both;
	height: 40px;
	background: #191919;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

h1 {
	display: block;
	margin: auto;
	width: 200px;
	text-align: center;
	color: #fff;
	font-size: 22px;
	margin-top: 4px;
}

.zoom {
	transition: all .5s;
	width: 100%;
	height: 100%;
}

h2 {
	text-align: center;
	padding: 10% 4% 4% 4%;
	font-size: 50px;
	color: #fff;
	margin-top: 6%;
	transition: all .5s;
}

.hide {
	opacity: 0;
}

p {
	display: none;
}

.bg {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	grid-column: span 4;
    height: 100%;
}

/*
.bg:hover h2,
.bg:focus h2 {
	transform: scale(1.04);
	z-index: 1000;
}
*/


.bg:hover p {
	display: block;
	width: 80%;
	float: none;
	margin: auto;
	padding: 15% 10% 10% 10%;
	height: 100%;
	font-size: 36px;
	color: #fff;
	font-weight: 1000;
}


.bg:hover h2 {
	display: none;
}

.mds {
	background: linear-gradient( 45deg, #fc5c65, #fd9da2);
}

.con {
	background: linear-gradient( 195deg, #43CBFF , #9708CC);
}

.ee {
	background-image: url('assets/clouds.jpg');
}

.kc {
	background-image: url('assets/guitar.jpg');
}

.awa {
	background-image: url('assets/awa.jpg');
}

.pourover {
	background-image: url('assets/mt.jpg');
}

.iron {
	background-image: url('assets/metal.jpg');
}

.books {
	background-image: url('assets/books.jpg');
}

.city {
	background-image: url('assets/city.jpg');
}

@media only screen and (max-width: 1180px) {
  h2 {
    font-size: 40px;
    	padding: 15% 4% 4% 4%;
  }
}